body {
  background-color: rgb(205,205,205);
}
.logo {
  position: absolute;
  right: 0px;
  top: 22px;
  width: 100px;
  border-color: white;
  border-width: 2px;
  border-top-style: solid;
  border-left-style: solid;
  border-right-style: solid;
}
h1, h2, p {
  color: white;
}
