body {
  background-color: rgb(205,205,205);
}
img {
  box-shadow: 10px 10px rgb(70,70,70);
}
.logo {
  position: absolute;
  right: 0px;
  top: 22px;
  width: 100px;
  border: 2px solid white;
  border-radius: 4px;
}
h1 {
  color: white;
  font-size: 24pt;
  font-family: papyrus, fantasy;
}
h2, p {
  color: white;
}
