a.navlinks {
  color: white;
}
a.navlinks:visited {
  background-color: rgb(109,97,78);
}
img {
  border-radius: 50%;
  width: 200px;
}
body {
  color: white;
  background-color: rgb(30,100,15);
}
h3 {
  background-image: linear-gradient(to left, rgba(109,97,78,0), rgba(109,97,78,1));
  width: 350px;
}
li {
  list-style-type: square;
}
