.carousel {
  width: 600px; 
  height: 300px; 
}

img {
  width: 600;
  height: 300px;
  object-fit: cover;
  object-position: 30% 75%;
}

h1 {
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

body {
  background-image: url('gingham.jpg');
}
