.carousel {
  width: 600px; 
  height: 300px; 
}

img {
  width: 600px;
  height: 300px;
  object-fit: cover;
  object-position: 25%;
}

h1 {
  margin: 10px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

body {
  background-image: url('images/gingham.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
